.root {
}
.body {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-items: start;
  justify-content: start;
  align-content: space-around;
  height: 500px;
}
.input {
  display: flex;
  justify-content: center;
  justify-items: stretch;
  padding-left: 50px;
  width: 400px;
}
.center {
  display: flex;
  text-align: center;
  padding-right: 10px;
  padding-left: 0px;
  width: 60vw;
  flex-direction: row;
  justify-items: start;
  justify-content: start;
  align-items: start;
  background-color: rgba(217, 217, 217, 0);
}
.sidebar {
  display: flex;
  flex-direction: row;
  justify-items: start;
  justify-content: start;
  width: 248px;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 0px;
  align-items: start;
  align-content: space-between;
}
.fiftyl {
  padding-left: 50px;
  width: 248px;
  display: flex;
  flex-direction: column;
  justify-items: start;
  justify-content: start;
  align-items: start;
  align-content: start;
  text-align: start;
}
.fiftytop {
  padding-top: 50px;
}
.lefttop {
}
.search {
  padding-left: 10px;
  text-align: start;
  align-self: start;
  display: flex;
}
