.root {
}
.body {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-items: center;
  justify-content: space-around;
  align-content: space-around;
  height: 500px;
}
.input {
}
.center {
  display: inline;
  text-align: center;
}
