.root {
}
.header {
}
.header {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  height: 75px;
  font-weight: 400;
  line-height: auto;
  text-align: start;
  padding: 0px;
  margin: 0px;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  align-content: start;
  justify-items: center;
  flex-wrap: nowrap;
  font-size: 25px;
}
.headername {
}
.menu {
}
.center {
}
.center {
}
.center {
}
.center {
}
.head-descr {
}
