.root {
}
.header {
}
.header {
  display: flex;
  flex-direction: row;
  height: 75px;
  font-weight: 400;
  line-height: auto;
  text-align: start;
  padding: 0px;
  margin: 0px;
  align-self: center;
  align-items: center;
  justify-content: space-around;
  align-content: start;
  justify-items: center;
  flex-wrap: nowrap;
  font-size: 25px;
  width: 100%;
  color: #000000;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0);
  font-family: Arial, sans-serif;
}
.headername {
}
.menu {
}
.center {
}
.center {
}
.center {
}
.center {
}
.head-descr {
}
.title {
}
.title {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 25px;
}
